*{margin: 0; padding:0; border: 0; }
*, *:after, *:before{-moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;}
:focus, :active, a:focus, a:active{outline: none;}
nav, footer, header, aside{ display: block;}
html, body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;
    -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{ font-family: inherit;}

@font-face {
	font-family: 'P22 Corinthia';
	src: url('../assets/fonts/p22corinthia.eot');
	src: local('☺'), url('../assets/fonts/p22corinthia.woff') format('woff'), url('fonts/p22corinthia.ttf') format('truetype'), url('fonts/p22corinthia.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color:#F2EDDC;
}
/*HEADER*/
.header{
  text-align: center;
}
.headtop{
    display:flex;
    justify-content: space-between;
    padding: 15px 10px 10px 0px;
    margin-bottom: 20px;
}
.sign{
    margin-left: 10px;
}
.sign a{
color: black;
border: 1px solid black;
border-radius: 15px;
font-size: 1.1rem;
padding:5px 13px;
text-decoration: none;
margin-right:5px;
}
.sign_s{
    margin-left: 10px;
}
.sign_s a{
    color: black;
    font-size: 1.1rem;
    padding:5px 13px;
    text-decoration: none;
    margin-right:5px;
    }
.search{
    margin-bottom: 20px;
}
.search input{
    font-size: 1.1rem;
    padding:5px;
}
.search_sbm{
    background-color: black;
    color: white;
    padding: 5px 10px;
}
.logo{
    font-family: 'P22 Corinthia';
    font-size: 7rem;
    margin: 30px auto;
    transform: rotate(-15deg);
}

/*.main1{
    background-image: url('../assets/images/nb.jpg');
    opacity: 0.5;
}*/
.main2{
    background-color: #6e5037;
    background-image: url('../admin/img/solomon.jpg');
    opacity: 0.8;
}
.main3{
    opacity: 1;
}
.categories{
padding: 60px 50px 30px 50px;
color: white;
}
.categories h1{
   margin-bottom: 35px;
   opacity: 1;
   font-size: 2.2rem;
   font-weight: 200;
   padding-left: 10px;
}
.categories a{
    color: white;
    border: 1px solid white;
    border-radius: 19px;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 1.2rem;
    /*text-transform: uppercase;*/
    opacity: 1;
}
.categories li{
    display: inline-block;
    margin: 20px 10px 30px 10px;
}
.info{
    text-align: center;
    color: white;
}
.info h1{
    padding: 10px;
    font-size: 2.4rem;
}
.info p{
    padding: 10px 50px 70px 50px;
    text-align: justify;
    line-height: 1.5;
    opacity: 1;
}
.lastpub{
    padding: 30px;
    font-size: 2.3rem;
    font-weight: 700;
}
.article{
    background-color: #FCF7E8;
    padding:  20px 30px;
    margin: 10px 20px 30px 20px;
}
.article  h2 a{
    color:#7F6047;
}
.artinfo{
    padding: 8px 5px;
}
.artinfo span{
    margin-right: 10px;
    text-decoration: underline;
    font-size: 0.9rem;
}
.artinfo p{
    padding-top: 10px;
}
.prevtext{
    max-width:900px;
    font-size: 1.1rem;
    line-height: 1.5;
}
/* FOOTER */
.footer{
    background-color:#644c38;
    color: white;
    font-weight: 200;
}
.list li{
    list-style: none;
    display: inline-block;
    padding: 30px 10px 20px 40px;
    text-decoration: underline;
}
.foot p{
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
} 
.socials{
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.socials a{
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding:5px 10px;
    margin-right: 10px;
}
.single_title{
    font-size: 3rem;
    padding: 10px 40px;
    background-color:#FCF7E8 ;
    margin-bottom: 10px;
}
.single_info{
    padding:10px 40px;
}
.single_info span{
    margin-right:15px;
    text-decoration: underline;
    font-size: 1.2rem;
}
.single_text{
    padding: 20px 40px 50px 40px;
    font-size: 1.1rem;
    line-height: 1.7;
    text-align: justify;
}
.comment{
    padding:30px 40px;
    text-align: right;
}
.comment_area{
    padding: 15px;
    font-size: 1.1rem;
    width: 900px;
    background-color:white;
    margin-bottom: 20px;
}
.btn_comment{
    padding: 5px 10px;
    background-color: #F2EDDC;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}
.comments{
    padding:30px 40px;
    margin: 0 auto;
}
.comment_box{
    width: 900px;
    border: 1px solid black;
    padding: 15px;
    margin: 15px auto;
}
.comment_box span{
    padding-right: 15px;
    text-decoration: underline;
}
.comment_box p{
    padding-top: 17px;
    line-height: 1.7;
}
.pagination{
    text-align: center;
    margin-bottom: 20px;
}
.pag{
    padding: 5px 15px;
    font-size: 1.3rem;
    color: #644c38;
    border: 1px solid #644c38;
    border-radius: 5px;
}